body a:hover {
  cursor:  url("https://img.icons8.com/color/48/000000/taco.png"), auto;

}


/* Container holding the image and the text */
.hero-image{
  position: relative;
  text-align: center;
  color: white;
  will-change:transform
}


.hero-image img {
  width: 100vw;
  height:  auto;

  filter:  brightness(100%);

}

/* Centered text */
.centered {
  position: absolute;
  font-size: 3.5rem;
  font-weight: bold;
  color:  #51a285;
  left: 2%;
  bottom: 5%;
  text-shadow:  0.03rem 0.03rem 0.03rem black;
  font-family: 'Brush Script MT', cursive;
}

.centered a {
  text-decoration: none;
  color:  white;
}



/*.custom-toggler .navbar-toggler-icon {
  background-image: url("https://img.icons8.com/color/48/000000/taco.png");
}

.custom-toggler.navbar-toggler {
  border-color: black;
  border-radius: 0.5rem;
  border-width: 0.15rem;
  margin-left:  0.5rem;
  } 

button.navbar-toggler:focus {
  box-shadow: 0.075rem 0.075rem 0.075rem white;
}*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0%;
  right: 10%;
  font-size: 2rem;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;}
  }
}

.welcome {
  width: 80%;
  margin-left: 10%;
}

.welcome h2 {
  width:  80%;
  margin-left: 10%;
  text-align: center;
  padding-top:  1.5rem;
  padding-bottom: 1.5rem;
}

.welcome p {
  width:  80%;
  margin-left: 10%;
  text-align: center;
}

.welcome img {
  width:  40%;
  height:  auto;
  margin-left:  30%;
}


span.mobile-title {
  font-size: 2rem; 
  font-family: 'Brush Script MT', cursive;   
  font-weight: bold; 
  color: #51a285; 
  margin-right: 5%; 
  margin-left: 20%
}


@media screen and (max-width: 600px) {
  /* Centered text */
.centered {
  display:  none;
}
}

@media screen and (min-width: 601px) {
span.mobile-title {
  display: none;
}
span.mobile-nav {
  display:  none;
}
}




